/*********************************************
 * weatherdescription
 *********************************************/
.weeromschrijving {
  position: absolute;
  color: aqua;
  z-index: 99;
  width: 100%;
  font-family: 'tomfont';
  color: white;
  margin-top: 10px; }
  .weeromschrijving .omschrijving {
    font-size: 18px; }
  .weeromschrijving .temperatuur {
    font-size: 36px;
    line-height: 32px; }
  @media (min-width: 480px) {
    .weeromschrijving {
      text-align: center;
      margin: 18px auto; }
      .weeromschrijving p {
        display: inline-block;
        margin: 0; }
      .weeromschrijving .omschrijving {
        font-size: 30px;
        margin-right: 28px; }
        .weeromschrijving .omschrijving:after {
          content: '';
          position: absolute;
          background: #72b6b7;
          width: 6px;
          height: 6px;
          border-radius: 12px;
          margin: 16px 8px 0 16px; }
      .weeromschrijving .temperatuur {
        font-size: 30px; } }
