@import "weatherdescription";
@import "searchform";
@import "searchpage";
@import "bookseller";

$background-color: rgb(26,35,38);
$tom-yellow: rgb(234,167,0);

/*********************************************
 * Tom de weerbeer scss
 *********************************************/
@font-face {
    font-family: "tomfont";
    src: url("../fonts/Cof.ttf") format("opentype");
    }

body {
	background: lighten($background-color, 8%);
	margin: 0;
	font-family: monospace;
	font-size: 18px;
}
p {
	margin: 6px 24px;
}
.weervoorspeller {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 1000px;
    // box-shadow: 1px 10px 10px darken($tom-yellow, 10%);

    @media (min-width: 700px) {
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}
#tomweer {
    top: 0;
    position: absolute;
    overflow: hidden;
    border-radius: 8px;
}
.errorpage {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    z-index: 9999999;
    font-family: 'tomfont';
    font-size: 24px;
    color: white;
    display: flex;
    align-items: flex-end;

    &__inner {
        padding: 36px;
        text-align: center;
        margin: auto;
        transform: rotate(2deg);


        button {
            font-family: 'tomfont';
            font-size: 16px;
            margin: 24px 0;
            width: 80%;
            max-width: 360px;
            height: 44px;
            border-radius: 24px;
            border: none;
            background-color: $tom-yellow;
            transform: rotate(-4deg);

            &:focus {
                outline: none;
            }
        }
    }
}
