$background-color: rgb(26,35,38);
$tom-yellow: rgb(234,167,0);
$trans-time: 200ms;
$trans-delay: 550ms;

/*********************************************
 * searchpage
 *********************************************/
@keyframes slide {
  0% {opacity: 0;}
  100% {opacity: 100%;}
}

@keyframes reverseslide {
  0% {opacity: 100%;}
  100% {opacity: 0;}
}

.searchpage, .searchpage__background {
    display: none;
    overflow: hidden;
    position: absolute;
    color: aqua;
    width: 100%;
    height: 100%;
    background-color: $background-color;

    &__transout {
        display: block;
        animation: reverseslide $trans-time ease-in-out $trans-delay;
        animation-fill-mode: forwards;
    }

    &__show {
        z-index: 999;
        display: block;
        animation: slide $trans-time ease-in-out alternate;
        animation-fill-mode: forwards;
    }

    .submitbutton {
        box-sizing: border-box;
        height: 96px;
        width: 96px;
        border-radius: 50%;
        padding: 24px 16px;
        margin: auto;
        margin-top: 120px;
        text-transform: uppercase;
        transform: rotate(-6deg);
        color: white;
        font-size: 40px;
        font-family: 'tomfont';
        background-color: $tom-yellow;
        text-align: center;

        &:hover {
            background-color: darken($tom-yellow, 5%);
        }
        &:active {
            background-color: darken($tom-yellow, 5%);
        }
    }
}

.searchpage__background {
    &__show {
        z-index: -1;
    }
}
